body {
    margin: 0px;
    /*display: flex;
    flex-direction: column;*/
    transition: .5s;
    background-color: #171515;
}

.cabecalho {
    background-color: #171515;
    /*margin-bottom: 25px;*/
    padding: 15px;
    transition: .5s;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}

.sub-titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.trilho {
    width: 80px;
    height: 40px;
    left: 90%;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .interruptor {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.video-container {
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.video-player {
    width: 100%;
    margin-top: -400px;
}

.video-source{
    height: auto;
    width: 100%; 
}

.conteudo {
    /*background-color: chartreuse;*/
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    height: 400px;
}

.botao {
    /*background-color: aquamarine;*/
    border: 2px transparent;
    height: 150px;
    width: 150px;
    margin-top: 100px;
    transition: .5s;
}

a{
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

a span{
    position: relative;
    z-index: 2;
}

a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

a:hover{
    color: #fff;
}
  
a:hover:after{
    width: 100%;
}

.rodape {
    background-color: purple;
}

.trilho.dark {
    background-color: #c3c3c3;
}

.trilho.dark .interruptor{
    left: 40px;
    background-color: #fff;
}

body.dark {
    background-color: #e4e4e4;
}

header.dark {
    background-color: #e4e4e4;
}

header.dark .titulo {
    color: #000;
}

header.dark .sub-titulo {
    color: #000;
}

.conteudo.dark {
    background-color: #e4e4e4;
}

.conteudo.dark a {
    color: #333;
    border-color: #333;
}